{% extends "layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p>China covers a large territory and has many nationalities, hence a variety of Chinese food with different but fantastic and mouthwatering flavor. Since China's local dishes have their own typical characteristics, generally, Chinese food can be roughly divided into eight regional cuisines, which has been widely accepted around. Certainly, there are many other local cuisines that are famous, such as Beijing Cuisine and Shanghai Cuisine.</p>
{% endblock %}